body {
    margin: 0;
    padding: 0;
    background-image: url(../images/movida-header.jpg);
    background-color:rgba(203, 192, 196, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    height: 80vh;
}


h2 {
    margin: 0;
}

main {
    background-color:rgba(203, 192, 196, 0.5);
    backdrop-filter: blur(5px);
    padding-top: 20px;
}

.navbar {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: 20vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    background-color: rgba(203, 192, 196, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

article {
    margin: 0px 60px;

}

li {
    list-style: none;
    padding-left: 0;
}

.list {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

.list li {
    margin: 0 30px 0 30px;
    list-style: none;
    padding-left: 0;

}

.btn {
    border: 2px solid black;
}

.btn:hover {
    border: 2px solid black; 
    background-color: rgba(100, 100, 100, 0.3);
}


.carousel {
    border: 2px solid black; 
    display: flex;
    height: 65vh;
    width: 100%;
    max-width: 800px;
    align-items: center;
    overflow-x: scroll; 
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slide {
    height: 100%;
    width: 90%;
    flex-shrink: 0;
    background-size: cover;
    margin: 0px 20px;
    scroll-snap-align: center;
}

#slide1 {
    background-image: url(../images/hair-1.jpg);

}

#slide2 {
    background-image: url(../images/hair-2.jpg);

}

#slide3 {
    background-image: url(../images/hair-3.jpg);

}

#slide4 {
    background-image: url(../images/hair-4.jpg);

}

#slide5 {
    background-image: url(../images/hair-5.jpg);

}

#slide6 {
    background-image: url(../images/hair-6.jpg);

}


footer {
    box-sizing: border-box;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 25vh;
    border-top: 2px solid black;
    padding: 20px 30px;
}

h4 {
    text-align: center;
}

.footer-links-container {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}